@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.LazyLoad {
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  
  .is-visible {
    opacity: 1;
  }

 *{
  font-family: 'Lato', sans-serif;
  transition: all 1s ease-in-out;
 }
 html{
  scroll-behavior: smooth;
 }